**Aggregations and Filtering**
   - Use aggregation functions like `SUM()`, `COUNT()`, `AVG()`, `MIN()`, `MAX()` to summarize data.  
   - `GROUP BY` allows you to compute metrics per category (e.g., total sales per customer).  
   - `HAVING` filters aggregated results (useful when you want to filter groups, unlike `WHERE` which filters raw rows).  

```sql
-- Find total sales per customer
SELECT customer_id, SUM(amount) AS total_sales
FROM sales
GROUP BY customer_id;

-- Find customers with total sales greater than 200
SELECT customer_id, SUM(amount) AS total_sales
FROM sales
GROUP BY customer_id
HAVING SUM(amount) > 200;

In [ ]:
query_select = """
SELECT customer_id, SUM(amount) AS total_sales
FROM sales
GROUP BY customer_id
HAVING SUM(amount) > 200;
"""
df_select = pd.read_sql_query(query_select, conn)
print(df_select)

   customer_id  total_sales
0          101       225.25
1          102       401.00

# SQL JOINs: Combining Data from Multiple Tables

In relational databases, data is often split across multiple tables. **JOINs** allow you to combine rows from two or more tables based on related columns (usually keys).

---

## 1. INNER JOIN
Returns only the rows where there is a **match in both tables**.


<center>
<img src="https://www.pragimtech.com/blog/contribute/article_images/1220210728013442/sql-inner-join-example.jpg" alt="SQL Candidate key" width="600">
</center>

```sql
SELECT o.Order_ID, c.Name, p.Product_Name
FROM Orders o
INNER JOIN Customers c
    ON o.Customer_ID = c.CustomerID
INNER JOIN Products p
    ON o.Product_ID = p.ProductID;

---

## 2. LEFT JOIN (or LEFT OUTER JOIN)

Returns **all rows from the left table**, and **matched rows from the right table**. If there is no match, the right table columns return NULL.

<center>
<img src="https://www.pragimtech.com/blog/contribute/article_images/1220210728013442/sql-left-join-example.jpg" alt="SQL Candidate key" width="600">
</center>

```sql
SELECT o.Order_ID, c.Name, p.Product_Name
FROM Orders o
INNER JOIN Customers c
    ON o.Customer_ID = c.CustomerID
INNER JOIN Products p
    ON o.Product_ID = p.ProductID;

Here:

* All customers are shown, even if they haven’t placed any orders.

* Orders columns for customers with no orders will be NULL.

---

## 3. RIGHT JOIN (or RIGHT OUTER JOIN)

Returns all **rows from the right table, and matched rows from the left table**.
If there is no match, the left table columns return NULL.

<center>
<img src="https://www.pragimtech.com/blog/contribute/article_images/1220210728013442/sql-right-join-example.jpg" alt="SQL Candidate key" width="600">
</center>

```sql
SELECT o.Order_ID, c.CustomerID, c.Name
FROM Orders o
RIGHT JOIN Customers c
    ON o.Customer_ID = c.CustomerID;

Here, All customers appear, even if they have no orders (similar to LEFT JOIN but reversed table order).

---

## 4. FULL OUTER JOIN

Returns **all rows from both tables**, with NULL for missing matches on either side.

<center>
<img src="https://www.thedataschool.co.uk/content/images/2024/07/image-22.png" alt="SQL Candidate key" width="600">
</center>

```sql
SELECT c.CustomerID, c.Name, o.Order_ID
FROM Customers c
FULL OUTER JOIN Orders o
    ON c.CustomerID = o.Customer_ID;

Here, we combines the effect of LEFT and RIGHT JOIN. Customers without orders and orders without customers are included with NULL in the missing columns.

Below is a full example of creating and manipulating a table in SQL.